@font-face {
    font-family: 'Rapsodie';
    src: url('Rapsodie-SemiBold.woff2') format('woff2'),
        url('Rapsodie-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rapsodie';
    src: url('Rapsodie-BoldItalic.woff2') format('woff2'),
        url('Rapsodie-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

